/* You can add global styles to this file, and also import other style files */
body{
    font-family:Helvetica;
}

.comodos{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}



