<main>
  <div class="content">
    <h1>Conversor de Temperatura</h1>
    <hr>
    <p>Digite a temperatura em Celsius:</p>
    <input type="number" [(ngModel)] = "temp_celsius" (input)="resultado = false">
    <button (click)="conversor()">Converter</button>
  </div>
  
  <hr>

  <div  class="conversao" *ngIf="resultado">
    <strong>A temperatura Fahrenheit é de:</strong> {{temp_fahrenheit}}

    @if (temp_celsius<=0 || temp_celsius<=15 ){
      <p class="frio">Está muito frio</p>
    }
    @else if (temp_celsius >= 30 ){
      <p class="quente">Está muito quente!</p>
    }
    @else{
      <p class="agradavel">Temperatura agradável</p>
    }
  </div>
</main>